@import '@styles/vars.scss';

.post-card {
  font: normal 16px / 1.7em var(--font-1);
  color: #555;
  margin-top: 2px;
  text-decoration: none;
  display: grid;
  gap: 10px;

  @include tablet {
    font-size: 18px;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: 1fr 4fr;
  }
}

.post-card__image {
  // display: none;
  object-fit: cover;
  @include aspect-ratio(16, 9);

  @include tablet {
    display: block;
    @include aspect-ratio(5, 4);
  }
}

.post-card__title {
  color: #333;
  display: block;
  font: 600 18px / 1.5 var(--font-2);
  margin-bottom: 0;

  .post-card:hover & {
    color: #000;
  }

  @include tablet {
    font-size: 23px;
  }
}

.post-card__meta {
  font: 300 14px / 1.8 var(--font-2);
  color: #777;
  margin-top: 5px;
}

.post-card__summary {
  margin-top: 10px;
  overflow-y: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  @include tablet {
    font-size: 17px;
    -webkit-line-clamp: 3;
  }
}
