@import '@styles/vars.scss';

.post-card {
  font: normal 1em / 1.7 var(--font-1);
  color: #555;
  text-decoration: none;
  display: grid;

  @include tablet {
    gap: var(--space-l);
    grid-auto-flow: row;
    grid-template-columns: 1fr 4fr;
  }
}

.post-card__image {
  object-fit: cover;
  @include aspect-ratio(16, 9);
  border-radius: 0.75em;

  @include tablet {
    display: block;
    @include aspect-ratio(5, 4);
  }
}

.post-card__title {
  color: #333;
  display: block;
  font: 600 var(--fs-4) / 1.5 var(--font-2);
  margin-block: var(--space-xxs);
  letter-spacing: -0.01em;

  .post-card:hover & {
    color: #000;
  }

  @include tablet {
    margin-top: 0;
  }
}

.post-card__meta {
  font: 400 var(--fs-2) / 1.8 var(--font-2);
  color: #777;
}

.post-card__summary {
  margin-top: var(--space-s);
  margin-bottom: 0;
  overflow-y: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  @include tablet {
    -webkit-line-clamp: 3;
    line-height: 1.6;
  }
}
