$grey: #F4F9FF;
$grey-dark: #7892BC;

// Shades
$blue-1: hsl(203, 85%, 95%);
$blue-2: hsl(204, 85%, 85%);
$blue-3: hsl(204, 85%, 75%);
$blue-4: hsl(204, 85%, 65%);
$blue-5: hsl(204, 85%, 55%);
$blue-base: hsl(204, 85%, 50%);
$blue-6: hsl(204, 85%, 45%);
$blue-7: hsl(204, 85%, 35%);
$blue-8: hsl(204, 85%, 25%);
$blue-9: hsl(204, 85%, 15%);
$blue-10: hsl(205, 85%, 5%);

$orange-1: hsl(25, 85%, 95%);
$orange-2: hsl(24, 85%, 85%);
$orange-3: hsl(24, 85%, 75%);
$orange-4: hsl(24, 85%, 65%);
$orange-5: hsl(24, 85%, 55%);
$orange-base: hsl(24, 85%, 50%);
$orange-6: hsl(24, 85%, 45%);
$orange-7: hsl(24, 85%, 35%);
$orange-8: hsl(24, 85%, 25%);
$orange-9: hsl(24, 85%, 15%);
$orange-10: hsl(23, 85%, 5%);

$green-1: hsl(113, 85%, 95%);
$green-2: hsl(114, 85%, 85%);
$green-3: hsl(114, 85%, 75%);
$green-4: hsl(114, 85%, 65%);
$green-5: hsl(114, 85%, 55%);
$green-base: hsl(114, 85%, 50%);
$green-6: hsl(114, 85%, 45%);
$green-7: hsl(114, 85%, 35%);
$green-8: hsl(114, 85%, 25%);
$green-9: hsl(114, 85%, 15%);
$green-10: hsl(113, 85%, 5%);

// Aliases
$blue-text: $blue-6;

$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: ($device - 1px)) {
    @content;
  }
}

@mixin mobile {
  @include until($tablet) {
    @content;
  }
}

@mixin tablet {
  @include from($tablet) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  aspect-ratio: $width #{'/'} $height;
  // these two are needed for safari
  width: 100%;
  height: auto;
}
