---
interface Props {
	type: 'info' | 'success' | 'warning'
}

const { type } = Astro.props
const icon = {
	info: 'fa-note-sticky',
	success: 'fa-check-double',
	warning: 'fa-triangle-exclamation',
}[type]
---
<aside class={`callout callout--${type}`}>
	<i class:list={['callout__icon', 'fa-solid', icon]} />
	<div class="callout__body">
		<slot />
	</div>
</aside>

<style lang="scss" is:global>
	@import '@styles/vars.scss';

	.callout {
		display: flex;
		border-radius: 0.75em;
		padding: var(--space-m);
		font-family: var(--font-2);

		background-color: var(--callout-color-light);
		color: var(--callout-color-dark);

		&--info {
			--callout-color: #{$blue-4};
			--callout-color-light: #{$blue-1};
			--callout-color-dark: #{$blue-6};
		}
		&--warning {
			--callout-color: #{$orange-4};
			--callout-color-light: #{$orange-1};
			--callout-color-dark: #{$orange-7};
		}
		&--success {
			--callout-color: #{$green-7};
			--callout-color-light: #{$green-1};
			--callout-color-dark: #{$green-9};
		}
	}

	.callout__icon {
		margin-top: var(--space-xxs);
		margin-left: var(--space-xxs);
		margin-right: 1em;
		color: var(--callout-color);
	}

	.callout__body {
		p, ul, ol {
			margin-top: 0;
			font-size: 1em;
			line-height: 1.8;

			&:first-child {
				margin-top: -0.1em;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		li::marker {
			all: unset !important;
		}

		code {
			background: none;
			font-size: var(--fs-2);
		}
	}
</style>
