---
interface Props {
	type: 'info' | 'success' | 'warning'
	icon?: string
}

const { type, icon: iconProp } = Astro.props
const icon = iconProp ?? {
	info: 'fa-note-sticky',
	success: 'fa-check-double',
	warning: 'fa-triangle-exclamation',
}[type]
---
<aside class={`callout callout--${type}`}>
	<i class:list={['callout__icon', 'fa-solid', icon]} />
	<div class="callout__body">
		<slot />
	</div>
</aside>

<style lang="scss" is:global>
	@import '@styles/vars.scss';
	.callout {
		--callout-line-height: 1.6;
		--callout-font-size: 0.9em;

		display: flex;
		padding: var(--callout-font-size);
		padding-top: calc(var(--callout-font-size) / var(--callout-line-height));
		padding-bottom: calc(var(--callout-font-size) - var(--space-xxs));
		border-radius: calc(var(--callout-font-size) / var(--callout-line-height));
		font-family: var(--font-2);

		background-color: var(--callout-color-light);
		color: var(--callout-color-dark);

		&--info {
			--callout-color: #{$blue-4};
			--callout-color-light: #{$blue-1};
			--callout-color-dark: #{$blue-6};
		}
		&--warning {
			--callout-color: #{$orange-4};
			--callout-color-light: #{$orange-1};
			--callout-color-dark: #{$orange-7};
		}
		&--success {
			--callout-color: #{$green-7};
			--callout-color-light: #{$green-1};
			--callout-color-dark: #{$green-9};
		}
	}

	.callout__icon {
		font-size: var(--callout-font-size);
		line-height: var(--callout-line-height);
		margin-right: var(--space-s);
		color: var(--callout-color);
	}

	.callout__body {
		p, ul, ol {
			margin-top: 0;
			font-size: var(--callout-font-size);
			line-height: var(--callout-line-height);

			&:last-child {
				margin-bottom: 0;
			}
		}

		li::marker {
			all: unset !important;
		}

		code {
			background: none;
			font-size: var(--fs-2);
		}
	}
</style>
