---
interface Props {
	type: 'info' | 'success' | 'warning'
}

const { type } = Astro.props
---
<aside class={`callout callout--${type}`}>
	<i class="callout__icon fa-solid fa-note-sticky" />
	<div class="callout__body">
		<slot />
	</div>
</aside>

<style lang="scss" is:global>
	@import '@styles/vars.scss';

	.callout {
		display: flex;
		border-radius: 8px;
		border-left-width: 3px;
		border-left-style: solid;
		padding: 20px 25px;

		background-color: var(--callout-color-light);
		color: var(--callout-color-dark);
		border-left-color: var(--callout-color);

		@include mobile {
			padding: 15px;
		}

		&--info {
			--callout-color: #{$blue};
			--callout-color-light: #{$blue-light};
			--callout-color-dark: #{$blue-dark};
		}
		&--warning {
			--callout-color: #{$orange};
			--callout-color-light: #{$orange-light};
			--callout-color-dark: #{$orange-dark};
		}
		&--success {
			--callout-color: #{$green};
			--callout-color-light: #{$green-light};
			--callout-color-dark: #{$green-dark};
		}
	}

	.callout__icon {
		margin-top: 4px;
		margin-right: 15px;
		color: var(--callout-color);
	}

	.callout__body {
		p, ul, ol {
			margin-top: 0;
			font-size: 15px;
			line-height: 1.8;

			&:last-child {
				margin-bottom: 0;
			}
		}

		li::marker {
			all: unset !important;
		}
	}
</style>
