---
const today = new Date();
---

<footer>
	<div>
		<span>&copy; {today.getFullYear()} • Jihad D. Waspada</span>
		<div class="social-links">
			<a href="https://twitter.com/wasdapalah" target="_blank">
				<span class="sr-only">Follow Jihad on Twitter</span>
				<i class="fa-brands fa-x-twitter"></i>
			</a>
			<a href="https://github.com/dewey92" target="_blank">
				<span class="sr-only">Go to Jihad's GitHub repo</span>
				<i class="fa-brands fa-github"></i>
			</a>
		</div>
	</div>
</footer>

<style lang="scss">
@import '@styles/vars.scss';
footer {
	padding: var(--space-l) var(--space-m) var(--space-xl) var(--space-m);
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	color: rgb(var(--gray));
	text-align: center;
}
footer > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-m);
	max-width: var(--container-width);
	margin: auto;
}
.social-links {
	display: flex;
	justify-content: center;
	gap: var(--space-s);
}
.social-links a {
	text-decoration: none;
	color: rgb(var(--gray));
	font-size: var(--fs-4);
}
.social-links a:hover {
	color: rgb(var(--gray-dark));
}
</style>
