---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/rss.xml">
				<i class="fa-solid fa-rss"></i>
			</HeaderLink>
		</div>
	</nav>
</header>

<style lang="scss">
@import '@styles/vars.scss';

header {
	margin: 0;
	padding: var(--space-l) var(--space-m) 0;
	background: white;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	max-width: var(--container-width);
	margin: auto;
}
nav a {
	padding-inline: var(--space-s);
	color: #333;
	text-decoration: none;
}
nav a.active {
	text-decoration: none;
	border-bottom: 3px solid $blue-text;
}
h2 {
	margin: 0;
	font-size: var(--font-3);

	a {
		padding-left: 0;
		color: $blue-6;
		text-decoration: none;
	}
}
</style>
