---
import { Image } from 'astro:assets'
import avatar from '@assets/images/avatar.png'
---

<header>
	<div>
		<h1>Hi, I'm <dfn title="/dʒɪˈhɑːd/ (noun): An individual's striving for spiritual self-perfection">Jihad</dfn>.</h1>
		<h2>A father, a software developer, and a muslim before all</h2>

		<div class="tags">
			<span>Typescript</span>
			<span>React</span>
			<span>Redux</span>
			<span>Node.js</span>
			<span>PHP</span>
			<span>SCSS</span>
		</div>
	</div>

	<figure>
		<Image
			src={avatar}
			alt="jihad-ganteng"
			loading="eager"
			widths={[200, 300]}
			sizes="(max-width: 767px) 200px, 300px"
		/>
	</figure>
</header>

<style lang="scss">
@import '@styles/vars.scss';

header {
	display: grid;
	align-items: center;
	margin-bottom: var(--space-xl);
	padding-block: var(--space-xl);

	@include tablet {
		grid-template-columns: 1fr 1fr;
	}
}

h1 {
	font-size: var(--fs-8);
	text-align: center;
	letter-spacing: -0.06em;
	// margin-bottom: var(--space-xxs);

	@include tablet {
		font-size: calc(var(--fs-7) * 2);
		margin-inline: auto 0;
		text-align: left;
	}
}

h2 {
	font-size: var(--fs-5);
	font-weight: normal;
	font-family: var(--font-2);
	color: #555;
	text-align: center;
	margin-bottom: var(--space-l);

	@include tablet {
		font-size: var(--fs-6);
		text-align: left;
	}
}

dfn {
	text-decoration: 3px wavy underline $blue-text;
	text-underline-offset: 0.1em;
	font-style: normal;

	@include tablet {
		text-decoration: 4px wavy underline $blue-text;
	}
}

.tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--space-s);

	@include tablet {
		justify-content: left;
	}

	span {
		display: inline-block;
		padding: var(--space-s) var(--space-m) var(--space-xs);
		border-radius: 99em;
		border: 1px solid #ccc;
		font-size: var(--fs-1);
		line-height: 1.2;
	}
}

figure {
	margin: 0;
}

img {
	display: block;
	border-radius: 100%;
	margin: var(--space-xxl) auto 0;
	width: 200px;
	height: auto;
	border: 15px solid #f3f3f3;

	@include tablet {
		margin: 0 0 0 auto;
		width: auto;
	}
}
</style>
