---
import { Image } from 'astro:assets'
import avatar from '@assets/images/avatar.png'
---

<header>
	<div>
		<h1>Hi, I'm <dfn title="/dʒɪˈhɑːd/ (noun): An individual's striving for spiritual self-perfection">Jihad</dfn>.</h1>
		<h2>A father, an ordinary software developer, and a muslim before all</h2>
	</div>

	<figure>
		<Image
			src={avatar}
			alt="jihad-ganteng"
			loading="eager"
			widths={[200, 300]}
			sizes="(max-width: 767px) 200px, 300px"
		/>
	</figure>
</header>

<style lang="scss">
@import '@styles/vars.scss';

header {
	display: grid;
	align-items: center;
	margin-bottom: 30px;
	padding-block: 50px;

	@include tablet {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 50px;
	}
}

h1 {
	font-size: 40px;
	text-align: center;
	letter-spacing: -2px;

	@include tablet {
		margin-inline: auto 0;
		font-size: 72px;
		text-align: left;
		letter-spacing: -5px;
	}
}

h2 {
	font-size: 20px;
	font-weight: normal;
	font-family: var(--font-2);
	color: #555;
	text-align: center;
	letter-spacing: -0.3px;

	@include tablet {
		font-size: 28px;
		text-align: left;
		letter-spacing: -0.5px;
	}
}

dfn {
	text-decoration: 3px wavy underline $blue-text;
	text-underline-offset: 5px;
	font-style: normal;

	@include tablet {
		text-decoration: 4px wavy underline $blue-text;
		text-underline-offset: 10px;
	}
}

img {
	display: block;
	border-radius: 100%;
	margin: 20px auto 0;
	width: 200px;
	height: auto;
	box-shadow: #f3f3f3 0 0 0 15px;

	@include tablet {
		margin: 0 0 0 auto;
		width: auto;
	}
}
</style>
