<div class="verse">
	<div class="verse__arabic">
		<slot name="arabic" />
	</div>
	<div class="verse__translation">
		<slot name="translation" />
	</div>
</div>

<style lang="scss" is:global>
@import '@styles/vars.scss';
.verse {
	background: #fbfbfb;
	border: 1px solid #eee;
	border-radius: 0.75em;
	margin-bottom: var(--space-l);
	padding: var(--space-m);
	padding-top: var(--space-l);
	position: relative;
	box-sizing: border-box;

	&::before {
		position: absolute;
		top: -18px;
		left: var(--space-l);
		content: '\f687';
		font-family: var(--font-awesome);
		font-weight: 900;
		font-size: 1rem;
		background: white;
		padding-inline: var(--space-s);
		border-radius: 0.5em;
		border: 1px solid #eee;
	}

	@include tablet {
		padding: var(--space-l);
	}
}

.verse__arabic {
	font-family: var(--font-arabic);
	text-align: right;

	p {
		font-size: var(--fs-4);
		margin-block-start: 0;
	}
}

.verse__translation > p {
	font-family: var(--font-2);
	font-size: calc(var(--fs-2) * var(--fs-half-ratio));
	margin-top: 0;

	@include mobile {
		line-height: 1.8;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}
</style>
