<div class="verse">
	<div class="verse__arabic">
		<slot name="arabic" />
	</div>
	<div class="verse__translation">
		<slot name="translation" />
	</div>
</div>

<style lang="scss" is:global>
@import '@styles/vars.scss';
.verse {
	background: #fbfbfb;
	border: 1px solid #eee;
	border-radius: 8px;
	margin-bottom: 30px;
	padding: 15px;
	padding-top: 25px;
	position: relative;
	box-sizing: border-box;

	&::before {
		position: absolute;
		top: -18px;
		left: 20px;
		content: '\f687';
		font-family: var(--font-awesome);
		font-weight: 900;
		font-size: 16px;
		background: white;
		padding-inline: 10px;
		border-radius: 8px;
		border: 1px solid #eee;

		@include tablet {
			top: -20px;
			left: 20px;
			font-size: 20px;
		}
	}

	@include tablet {
		padding: 30px;
	}
}

.verse__arabic {
	font-family: var(--font-arabic);
	text-align: right;

	p {
		font-size: 18px;
		margin-block-start: 0;

		@include tablet {
			font-size: 22px;
		}
	}
}

.verse__translation > p {
	font-size: 15px;
	margin-top: 0;

	@include tablet {
		font-size: 16px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}
</style>
